body {
  background: black;
  color: #ffffff;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: inherit;
  text-decoration: none;
}

.topNavBar > nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}

.topNavBar > .logo {
  font-size: 24px;
  font-family: "Arial Black";
  list-style: none;
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar > .logo > .rs {
  color: #e6686a;
  margin-right: 4px;
}

.topNavBar > .logo > .card {
  color: #9a9da2;
}

.topNavBar > nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topNavBar{
    padding: 20px 16px 20px 16px;
}
.topNavBar > nav {
  padding-top: 7px;
  padding-bottom: 1px;
}
.topNavBar > nav > ul > li > a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
}

.topNavBar > nav > ul > li > a:hover {
  border-bottom-color: #dc6465;
}
